body,
html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

.nav-button {
  padding-left: 10px;
}

.polygon-form {
  margin-left: 10px;
}

.polygon-form-label {
  margin-top: 5px;
}

.polygon-submit {
  margin-top: 10px;
}